body {
  background-color: rgba(253, 253, 253, 0.882).882)
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

nav {
  padding: 12px;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 6px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: grey;
}

.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 130px;
  border-radius: 8px;
  scale: 110%;
}

.content-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.carousel-item {
  border-radius: 5px;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  padding-bottom: 40px;
}

p {
  font-size: 14;
  margin-left: 60px;
  margin-right: 60px;
  font-weight: 100;
}
.product-text {
  margin-top: 20px;
  text-align: center;
}
